# Constructor for buildings Units Base

# Algorithm
1. loop every building in script file and in future script file
2. create a list of number of original units
3. set the number of buidling
4. set the number of Iteration (if the file will be appneded with the rest of the buildings
5. set the size of appartments (according to the average that was decided upon)
6. set the price according to the data
7. set the buy price according to the data
8. set number of floors according to data
9. set status "old buidling"
10. save the file as a seperate Excel file (in the future this will be one file)

## loading dictionary and libraries

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import json
import os
import ipywidgets as widgets
import numpy as np
from dataCollection_march_24 import DC

In [2]:
#iniating the class for dealing with data collection
# Loads library and rules files
# initate widget GUI
# loading the essential excel files
dc = DC()

## loading script files

In [3]:
display(dc.cim_name)

Text(value='cim_0325_0640', description='Simulation Name:')

In [4]:
dc.setup_cim_path_and_load_scripts()

## initating iteration

In [5]:
dc.initiating_agents() #gets the name of the agents file
display(dc.agents_name)
display(dc.i_slider)

Text(value='agents.xlsx', description='Agents File Name:')

IntSlider(value=0, description='Iteration', max=18)

In [6]:
dc.run_iterations()

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10
Iteration 11
Iteration 12
Iteration 13
Iteration 14
oh oh operation 3!
0
Iteration 15
oh oh operation 3!
0
1
2
3

/Users/shai/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

Iteration 16
Iteration 17
oh oh operation 3!
0
1
2
3
4

In [ ]:
#TODO
#Add Iteration to Agents File -(save it in the end)
#March 26 To do!!!
# Write a documentation for this part of the simulation
# Add 5 more buildings to the simulaiton

# Experiments

In [160]:
    #roei method - for random choice
    #ownership!
    per = 0.2
    nUnits = 1000
    P=[per,1-per]
    owner_renter_rows = np.random.choice(2,size = nUnits,p=P)
    n_d = pd.DataFrame()
    n_d['owners'] = owner_renter_rows
    n_d.reset_index(inplace=True,drop=True)
    len_0 = len(n_d[n_d['owners']==0])

In [161]:
len_0

182

In [170]:
selected_rows = np.random.choice(2,size = 20,p=[0.6,0.4])

In [171]:
selected_rows

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])

In [176]:
selected_rows2 = selected_rows.tolist()

In [184]:
selected_rows2

[0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0]

In [185]:
selected_rows2==1

False

In [180]:
nd = pd.DataFrame()

In [181]:
nd['test'] = range(0,20)

In [182]:
nd['test']

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: test, dtype: int64

In [183]:
nd['test'].iloc[selected_rows2]

0    0
0    0
1    1
0    0
1    1
0    0
0    0
0    0
0    0
0    0
1    1
0    0
1    1
1    1
0    0
0    0
0    0
0    0
1    1
0    0
Name: test, dtype: int64

In [186]:
nd['test2'] = selected_rows2

In [187]:
nd

    test  test2
0      0      0
1      1      0
2      2      1
3      3      0
4      4      1
5      5      0
6      6      0
7      7      0
8      8      0
9      9      0
10    10      1
11    11      0
12    12      1
13    13      1
14    14      0
15    15      0
16    16      0
17    17      0
18    18      1
19    19      0