## Statistic Analysis for Population Change Israel Bat Yam (update April 1st)

## Step 1 Loading Files

In [ ]:
from statistics_ssi_analysis_april_1 import SSA

## Step 2 creating a statistics object

In [ ]:
ssa = SSA()
display(ssa.simulation_folder)
display(ssa.simulation_name)
display(ssa.agents_name)

In [ ]:
ssa.load_files()
ssa.pivot_by_agents()

# Put all these great statistics in the Script

In [ ]:
agent_1 = ssa.agent_ref

In [ ]:
agent_1.head(1)

In [182]:
agent_1['ones']=1
agent_1['index_id']=agent_1.index

In [198]:
agent_1.set_index("index_id")
s_ownership = agent_1.pivot(index='index_id', columns='OwnershipDesc',values='ones') #1
s_status = agent_1.pivot(index='index_id', columns='Agent_status',values='ones') #2
s_income = agent_1.pivot(index='index_id', columns='IncomeDesc',values='ones') #3
s_native = agent_1.pivot(index='index_id', columns='NativeDesc',values='ones') #4
s_age_group = agent_1.pivot(index='index_id', columns='AgeGroupDesc',values='ones') #5
s_iteration = agent_1['iteration'] #6
s_project = agent_1['projectID_itr'] #7

In [184]:
import pandas as pd
import numpy as np

In [199]:
filter_by_project = s_project.notnull()

## By Prject

In [204]:
proejct_values = s_project[filter_by_project].unique()

In [208]:
stays_leaves_project = s_status[filter_by_project].join([s_iteration[filter_by_project]])
stays_leaves_project_gb = stays_leaves_project.groupby('iteration')
stays_leaves_sum = stays_leaves_project_gb.sum()
stays_leaves_sum['Total staying'] = stays_leaves_sum['new comers']+stays_leaves_sum['staying']
stays_leaves_sum['project_id']= proejct_values
stays_leaves_sum.head()

           laeving  new comers  staying  Total staying project_id
iteration
0              6.0        21.0     12.0           33.0   20140882
1              4.0        12.0      8.0           20.0   20120398
2              5.0        15.0      7.0           22.0   20141086
3              4.0        10.0     14.0           24.0   20160636
4              6.0        10.0      6.0           16.0   20140449

## Accumulation

In [212]:
accumulation = s_status.join(s_iteration)
accumulation_gb = accumulation.groupby('iteration')
accumulation_sum = accumulation_gb.sum()
accumulation_sum['Total staying'] = accumulation_sum['new comers']+accumulation_sum['staying']
accumulation_sum['project_id']= s7_values
accumulation_sum.tail()

           laeving  new comers  staying  Total staying project_id
iteration
19           201.0       710.0    367.0         1077.0   20150880
20           204.0       740.0    364.0         1104.0   20150857
21           209.0       762.0    359.0         1121.0   20141182
22           213.0       781.0    355.0         1136.0   20180845
23           217.0       795.0    351.0         1146.0   20140467

In [210]:
accumulation_sum.sum()

laeving           2195.0
new comers        7862.0
staying          11437.0
Total staying    19299.0
dtype: float64

In [211]:
ssa.script_file

,index,bld_address,OriginalUnits,OriginalFloors,originalRentPercent,OriginalHouseSize,purchase_p,rent_price,Maintenace,ArnonaPerMeter,Arnona,Old_Purchase,OldRent,Tax and Maintenace,East,North,bld_operation,pointPolygon,ParcelChange,FuturePlanID,GIS_layer,Address Title,TypeTitle
0,0,215_22,18,3.0,0.212121,88,19108.333333,62,100,5.4358,478,1.681533e+06,6034,578,175764,658989,1,Point,No,20140882,215_22,"סוקולוב 22, בת ים",תמ״א 38/1
1,1,216_10,12,3.0,0.300000,100,20313.333333,68,100,5.4358,543,2.031333e+06,7443,643,175672,659031,1,Point,No,20120398,216_10,"מסריק 10, בת ים",תמ״א 38/1
2,2,216_4,12,3.0,0.631579,94,19459.166667,67,100,5.4358,510,1.829162e+06,6908,610,175687,659077,1,Point,No,20141086,216_4,"מסריק 4, בת ים",תמ״א 38/1
3,3,216_7,18,3.0,0.320000,75,2083.333333,60,100,5.4358,407,1.562500e+05,6000,507,175720,659014,1,Point,No,20160636,216_7,"מסריק 7, בת ים",תמ״א 38/1
4,4,215_15,12,3.0,0.500000,80,18109.445833,60,100,5.4358,434,1.448756e+06,5334,534,175802,659095,1,Point,No,20140449,215_15,"סוקולוב 15, בת ים",תמ״א 38/1
5,5,209_6,6,3.0,0.000000,94,19101.666667,50,100,5.4358,510,1.795557e+06,5310,610,175958,659687,2,Point,No,20140231,209_6,"ארלוזורוב 6, בת ים",תמ״א 38/2
6,6,209_8,40,4.0,0.275000,75,19890.833333,71,100,5.4358,407,1.491813e+06,5832,507,175948,659647,1,Point,No,20120894,209_8,"ארלוזורוב 8, בת ים",תמ״א 38/1
7,7,208_12,24,3.0,0.291667,85,18357.298000,62,100,5.4358,462,1.560370e+06,5832,562,175920,659469,1,Point,No,20181295,208_12,"הלפר 12, בת ים",תמ״א 38/1
8,8,210_56,10,2.0,0.000000,65,18328.990833,67,100,5.4358,353,1.191384e+06,4808,453,175858,659064,2,Point,No,20180335,210_56,"הרצל 56, בת ים",תמ״א 38/2
9,9,210_11,12,3.0,0.333333,85,19858.653000,65,100,5.4358,462,1.687986e+06,6087,562,175912,659631,1,Point,No,20150274,210_11,"הרצל 11, בת ים",תמ״א 38/1
10,10,216_3,18,3.0,0.270270,78,20676.289000,62,100,5.4358,423,1.612751e+06,5359,523,175736,659078,1,Point,No,20141190,216_3,"מסריק 3, בת ים",תמ״א 38/1
11,11,215_18,18,3.0,0.400000,83,19130.119167,53,100,5.4358,451,1.587800e+06,4950,551,175768,659033,1,Point,No,20140060,215_18,"סוקולוב 18, בת ים",תמ״א 38/1
12,12,215_24,18,3.0,0.277778,74,19441.906667,65,100,5.4358,402,1.438701e+06,5312,502,175764,658971,1,Point,No,20110270,215_24,"סוקולוב 24, בת ים",תמ״א 38/1
13,13,220_4,16,3.0,0.125000,81,19110.503000,65,100,5.4358,440,1.547951e+06,5805,540,175786,659333,1,Point,No,20131419,220_4,"רוטשילד 4, בת ים",תמ״א 38/1
14,14,complex_215_2,24,4.0,0.000000,80,23570.736000,65,100,5.4358,434,1.885659e+06,5734,534,175747,659326,3,Polygon,Yes,502-0147678,complex_215_2,"רוטשילד2 וסוקלוב 2, בת ים",תב״ע פינוי בינוי
15,15,complex_16,118,3.0,0.491525,65,19833.333333,63,100,5.4358,353,1.289167e+06,4548,453,175891,659752,3,Polygon,YES,502-0178285,complex_16,"דוד מסיקה 6,8 והרצל 8",תב״ע פינוי בינוי
16,16,212_53,33,6.0,0.212121,85,21195.800909,65,100,5.4358,462,1.801643e+06,6087,562,175678,659228,1,Point,No,20160319,212_53,"בן גוריון 53, בת ים",תמ״א 38/1
17,17,complex_17,46,2.5,0.300000,72,21336.000000,62,100,5.4358,391,1.536192e+06,4955,491,175839,659613,3,Polygon,Yes,502-0317495,complex_17,"הרצל 16,18 וחנה סנש 11, 9, 7, בת ים",תב״ע פינוי בינוי
18,18,﻿215_14n,51,3.0,0.313725,82,23247.000000,62,100,5.4358,445,1.906254e+06,5629,545,175738,659171,3,Polygon,Yes,502-0201483,﻿complex_215_14n,"סוקולוב 14, בת ים",תב״ע פינוי בינוי
19,19,209_33c,5,2.0,0.400000,100,20878.000000,64,100,5.4358,543,2.087800e+06,7043,643,175994,659246,2,Point,No,20150880,209_33c,"ארלוזורוב 33 ג, בת ים",תמ״א 38/2
20,20,215_6,12,2.0,0.333333,88,19850.000000,60,100,5.4358,478,1.746800e+06,5858,578,175756,659272,2,Point,No,20150857,215_6,"סוקולוב 6, בת ים",תמ״א 38/2
21,21,209_29,11,3.0,0.363636,87,20093.327000,64,100,5.4358,472,1.748119e+06,6140,572,175992,659291,1,Point,No,20141182,209_29,"ארלוזורוב 29, בת ים",תמ״א 38/1
22,22,209_4,21,4.0,0.333333,66,18226.666667,63,100,5.4358,358,1.202960e+06,4616,458,175967,659713,1,Point,No,20180845,209_4,"ארלוזורוב 4, בת ים",תמ״א 38/1
23,23,217_5,17,3.0,0.352941,77,17720.833333,57,100,5.4358,418,1.364504e+06,4907,518,176416,659649,1,Point,No,20140467,217_5,"אבא ברדיצב 17, בת ים",תמ״א 38/1

In [197]:
s1.join([s2,s3,s4,s5])

,Owner,Rent,laeving,new comers,staying,High Income,Low Income,Medium Income,Native,New Comers,Old,Young
index_id,,,,,,,,,,,,
0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0
1,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
2,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
3,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0
4,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0
5,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
6,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0
7,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0
8,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0
9,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
10,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0
11,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0
12,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
13,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
14,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
15,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN
16,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN
17,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0
18,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
19,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
20,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0
21,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN
22,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0
23,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
24,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
25,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
26,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
27,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0
28,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN
29,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
21464,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0
21465,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21466,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN
21467,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21468,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN
21469,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN
21470,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21471,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0
21472,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
21473,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21474,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
21475,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0
21476,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
21477,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21478,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21479,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21480,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21481,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
21482,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
21483,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21484,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN
21485,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0
21486,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
21487,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
21488,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21489,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
21490,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0
21491,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
21492,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
21493,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN

In [62]:
ssa.agent_pivots

,OwnerShip,AgentAppUnit,AgentBldAdd,AgentWealth,AgentPurchaseThreshold,Age,AgeGroup,Native_Seniority,Native_Group,AgentIncome,AgentRentThreshold,AgeGroupDesc,NativeDesc,OwnershipDesc,IncomeNum,IncomeDesc,TaxAndMainTreshold,RentTreshold,BuyTreshold,Agent_status,AgentID,projectID_itr,iteration,ones,laeving,new comers,staying,High Income,Low Income,Medium Income,Owner,Rent,Native,New Comers,Old,Young
0,1,0,215_22,35965,10789.5,33,0,29,1,10289,3086.9504,Young,Native,Owner,1,Medium Income,3086.7,3086.7,10789.5,staying,0,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0
1,1,1,215_22,2800041,840012.3,74,1,33,1,11240,3372.2504,Old,Native,Owner,1,Medium Income,3372.0,3372.0,840012.3,staying,1,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
2,1,2,215_22,4026174,1207852.2,106,1,10,1,12913,3874.1504,Old,Native,Owner,1,Medium Income,3873.9,3873.9,1207852.2,staying,2,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
3,1,3,215_22,3996139,1198841.7,44,0,28,1,6489,1946.9504,Young,Native,Owner,0,Low Income,1946.7,1946.7,1198841.7,staying,3,NaN,23,1,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0
4,1,4,215_22,963273,288981.9,35,0,33,1,14687,4406.3504,Young,Native,Owner,1,Medium Income,4406.1,4406.1,288981.9,staying,4,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0
5,1,5,215_22,4838083,1451424.9,107,1,44,1,14228,4268.6504,Old,Native,Owner,1,Medium Income,4268.4,4268.4,1451424.9,staying,5,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
6,0,6,215_22,4637960,1391388.0,42,0,18,1,23963,7189.0504,Young,Native,Rent,2,High Income,7188.9,7188.9,1391388.0,laeving,6,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0
7,1,7,215_22,2245201,673560.3,51,0,48,1,9213,2764.1504,Young,Native,Owner,0,Low Income,2763.9,2763.9,673560.3,staying,7,NaN,23,1,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0
8,1,8,215_22,1183891,355167.3,25,0,15,1,9412,2823.8504,Young,Native,Owner,0,Low Income,2823.6,2823.6,355167.3,staying,8,NaN,23,1,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0
9,1,9,215_22,3551007,1065302.1,82,1,17,1,13974,4192.4504,Old,Native,Owner,1,Medium Income,4192.2,4192.2,1065302.1,staying,9,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
10,0,10,215_22,86450,25935.0,51,0,11,1,23139,6941.8504,Young,Native,Rent,2,High Income,6941.7,6941.7,25935.0,laeving,10,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0
11,0,11,215_22,1198959,359687.7,56,0,24,1,20789,6236.8504,Young,Native,Rent,2,High Income,6236.7,6236.7,359687.7,laeving,11,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0
12,1,12,215_22,3522335,1056700.5,101,1,38,1,13361,4008.5504,Old,Native,Owner,1,Medium Income,4008.3,4008.3,1056700.5,staying,12,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
13,1,13,215_22,3552349,1065704.7,82,1,13,1,10367,3110.3504,Old,Native,Owner,1,Medium Income,3110.1,3110.1,1065704.7,staying,13,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
14,1,14,215_22,4567768,1370330.4,79,1,22,1,8367,2510.3504,Old,Native,Owner,0,Low Income,2510.1,2510.1,1370330.4,staying,14,NaN,23,1,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
15,0,15,215_22,4148237,1244471.1,98,1,10,1,21073,6322.0504,Old,Native,Rent,2,High Income,6321.9,6321.9,1244471.1,laeving,15,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
16,0,16,215_22,1382957,414887.1,93,1,42,1,20674,6202.3504,Old,Native,Rent,2,High Income,6202.2,6202.2,414887.1,laeving,16,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
17,0,17,215_22,4889097,1466729.1,59,0,32,1,25100,7530.1504,Young,Native,Rent,2,High Income,7530.0,7530.0,1466729.1,laeving,17,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0
18,1,0,216_10,1641679,492503.7,85,1,44,1,15759,4727.7800,Old,Native,Owner,1,Medium Income,4727.7,4727.7,492503.7,staying,18,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
19,1,1,216_10,2714966,814489.8,102,1,24,1,17085,5125.5800,Old,Native,Owner,1,Medium Income,5125.5,5125.5,814489.8,staying,19,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
20,1,2,216_10,1652490,495747.0,54,0,30,1,16591,4977.3800,Young,Native,Owner,1,Medium Income,4977.3,4977.3,495747.0,staying,20,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0
21,0,3,216_10,31122,9336.6,73,1,31,1,29324,8797.4800,Old,Native,Rent,2,High Income,8797.2,8797.2,9336.6,laeving,21,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
22,0,4,216_10,2902411,870723.3,64,0,12,1,29093,8728.1800,Young,Native,Rent,2,High Income,8727.9,8727.9,870723.3,laeving,22,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0
23,1,5,216_10,4159863,1247958.9,83,1,12,1,15494,4648.2800,Old,Native,Owner,1,Medium Income,4648.2,4648.2,1247958.9,staying,23,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
24,1,6,216_10,2260394,678118.2,95,1,48,1,6260,1878.0800,Old,Native,Owner,0,Low Income,1878.0,1878.0,678118.2,staying,24,NaN,23,1,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
25,1,7,216_10,1267370,380211.0,98,1,17,1,13516,4054.8800,Old,Native,Owner,1,Medium Income,4054.8,4054.8,380211.0,staying,25,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
26,1,8,216_10,3128663,938598.9,95,1,39,1,7351,2205.3800,Old,Native,Owner,0,Low Income,2205.3,2205.3,938598.9,staying,26,NaN,23,1,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
27,0,9,216_10,211049,63314.7,55,0,46,1,27416,8225.0800,Young,Native,Rent,2,High Income,8224.8,8224.8,63314.7,laeving,27,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0
28,0,10,216_10,2476867,743060.1,107,1,17,1,27366,8210.0800,Old,Native,Rent,2,High Income,8209.8,8209.8,743060.1,laeving,28,NaN,23,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
29,1,11,216_10,2629120,788736.0,44,0,15,1,12387,3716.1800,Young,Native,Owner,1,Medium Income,3716.1,3716.1,788736.0,staying,29,NaN,23,1,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,1,19,209_4,624243,187272.0,61,0,0,0,9464,2839.0000,Young,New Comers,Owner,0,Low Income,2839.2,2839.2,187272.9,new comers,1333,NaN,23,1,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0
1334,0,21,209_4,3136237,940871.0,105,1,0,0,24011,7203.0000,Old,New Comers,Rent,2,High Income,7203.3,7203.3,940871.1,new comers,1334,NaN,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1335,1,22,209_4,4359908,1307972.0,89,1,0,0,6434,1930.0000,Old,New Comers,Owner,0,Low Income,1930.2,1930.2,1307972.4,new comers,1335,NaN,23,1,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN
1336,0,23,209_4,3690206,1107061.0,68,1,0,0,22451,6735.0000,Old,New Comers,Rent,2,High Income,6735.3,6735.3,1107061.8,new comers,1336,NaN,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1337,1,24,209_4,2957082,887124.0,78,1,0,0,5020,1506.0000,Old,New Comers,Owner,0,Low Income,1506.0,1506.0,887124.6,new comers,1337,NaN,23,1,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN
1338,1,25,209_4,4142036,1242610.0,71,1,0,0,7755,2326.0000,Old,New Comers,Owner,0,Low Income,2326.5,2326.5,1242610.8,new comers,1338,NaN,23,1,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN
1339,0,26,209_4,2695204,808561.0,78,1,0,0,22051,6615.0000,Old,New Comers,Rent,2,High Income,6615.3,6615.3,808561.2,new comers,1339,NaN,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1340,1,27,209_4,1698770,509631.0,62,0,0,0,5807,1742.0000,Young,New Comers,Owner,0,Low Income,1742.1,1742.1,509631.0,new comers,1340,NaN,23,1,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0
1341,1,28,209_4,1980800,594240.0,48,0,0,0,16234,4870.0000,Young,New Comers,Owner,1,Medium Income,4870.2,4870.2,594240.0,new comers,1341,NaN,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0
1342,0,29,209_4,61220,18366.0,70,1,0,0,23595,7078.0000,Old,New Comers,Rent,2,High Income,7078.5,7078.5,18366.0,new comers,1342,NaN,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1343,1,30,209_4,4036201,1210860.0,37,0,0,0,14794,4438.0000,Young,New Comers,Owner,1,Medium Income,4438.2,4438.2,1210860.3,new comers,1343,NaN,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0
1344,1,31,209_4,178359,53507.0,54,0,0,0,7552,2265.0000,Young,New Comers,Owner,0,Low Income,2265.6,2265.6,53507.7,new comers,1344,NaN,23,1,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0
1345,1,32,209_4,2303373,691011.0,30,0,0,0,12747,3824.0000,Young,New Comers,Owner,1,Medium Income,3824.1,3824.1,691011.9,new comers,1345,NaN,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0
1346,0,33,209_4,3569067,1070720.0,106,1,0,0,20747,6224.0000,Old,New Comers,Rent,2,High Income,6224.1,6224.1,1070720.1,new comers,1346,NaN,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1347,0,34,209_4,117267,35180.0,70,1,0,0,24850,7455.0000,Old,New Comers,Rent,2,High Income,7455.0,7455.0,35180.1,new comers,1347,NaN,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1348,0,35,209_4,513536,154060.0,101,1,0,0,24543,7362.0000,Old,New Comers,Rent,2,High Income,7362.9,7362.9,154060.8,new comers,1348,NaN,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1349,0,7,217_5,2271073,681321.0,72,1,0,0,21224,6367.0000,Old,New Comers,Rent,2,High Income,6367.2,6367.2,681321.9,new comers,1349,20140467,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1350,1,9,217_5,1091388,327416.0,30,0,0,0,12290,3687.0000,Young,New Comers,Owner,1,Medium Income,3687.0,3687.0,327416.4,new comers,1350,20140467,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0
1351,1,11,217_5,3920105,1176031.0,96,1,0,0,13023,3906.0000,Old,New Comers,Owner,1,Medium Income,3906.9,3906.9,1176031.5,new comers,1351,20140467,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN
1352,0,13,217_5,683767,205130.0,72,1,0,0,25357,7607.0000,Old,New Comers,Rent,2,High Income,7607.1,7607.1,205130.1,new comers,1352,20140467,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1353,1,17,217_5,1175371,352611.0,78,1,0,0,8785,2635.0000,Old,New Comers,Owner,0,Low Income,2635.5,2635.5,352611.3,new comers,1353,20140467,23,1,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN
1354,0,18,217_5,2248113,674433.0,45,0,0,0,21167,6350.0000,Young,New Comers,Rent,2,High Income,6350.1,6350.1,674433.9,new comers,1354,20140467,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
1355,1,19,217_5,4431712,1329513.0,68,1,0,0,15410,4623.0000,Old,New Comers,Owner,1,Medium Income,4623.0,4623.0,1329513.6,new comers,1355,20140467,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN
1356,1,20,217_5,1294987,388496.0,67,1,0,0,14482,4344.0000,Old,New Comers,Owner,1,Medium Income,4344.6,4344.6,388496.1,new comers,1356,20140467,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN
1357,0,21,217_5,1122715,336814.0,88,1,0,0,25066,7519.0000,Old,New Comers,Rent,2,High Income,7519.8,7519.8,336814.5,new comers,1357,20140467,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1358,1,22,217_5,3458971,1037691.0,46,0,0,0,14751,4425.0000,Young,New Comers,Owner,1,Medium Income,4425.3,4425.3,1037691.3,new comers,1358,20140467,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0
1359,0,23,217_5,2990209,897062.0,34,0,0,0,22982,6894.0000,Young,New Comers,Rent,2,High Income,6894.6,6894.6,897062.7,new comers,1359,20140467,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
1360,1,24,217_5,4058419,1217525.0,90,1,0,0,11697,3509.0000,Old,New Comers,Owner,1,Medium Income,3509.1,3509.1,1217525.7,new comers,1360,20140467,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN
1361,0,25,217_5,4683809,1405142.0,87,1,0,0,23634,7090.0000,Old,New Comers,Rent,2,High Income,7090.2,7090.2,1405142.7,new comers,1361,20140467,23,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
1362,1,26,217_5,2086421,625926.0,109,1,0,0,12311,3693.0000,Old,New Comers,Owner,1,Medium Income,3693.3,3693.3,625926.3,new comers,1362,20140467,23,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN

In [20]:
agents_gb_1 = ssa.agent_pivots.groupby('Agent_status')

In [23]:
test = ssa.agent_pivots.agg({'ones':'sum','AgentWealth':'mean','Age':'mean','Native_Seniority':'mean','AgentIncome':'mean','RentTreshold':'mean','laeving':'count','new comers':'count','staying':'count','High Income':'count','Low Income':'count','Medium Income':'count','Owner':'count','Rent':'count','Native':'count','New Comers':'count','Old':'count','Young':'count'})

In [27]:
test.index

Index(['ones', 'AgentWealth', 'Age', 'Native_Seniority', 'AgentIncome',
       'RentTreshold', 'laeving', 'new comers', 'staying', 'High Income',
       'Low Income', 'Medium Income', 'Owner', 'Rent', 'Native', 'New Comers',
       'Old', 'Young'],
      dtype='object')

In [30]:
test.index=['ones','Average Agent Wealth', 'Average Age', 'Average Nativity','Average Agent Income','Average Rent Threshold','Number of Leaving','Number of New Comers','Number of staying','Number of High income','Number of low income','Number of medium Income','Number of Owners','Number of Renters','Number of Natives','Number of New Comers','Number of alderlies','Number of Youngsters']

In [32]:
test

ones                       1.363000e+03
Average Agent Wealth       2.400837e+06
Average Age                6.721717e+01
Average Nativity           1.149670e+01
Average Agent Income       1.911198e+04
Average Rent Threshold     5.733593e+03
Number of Leaving          2.170000e+02
Number of New Comers       7.950000e+02
Number of staying          3.510000e+02
Number of High income      5.460000e+02
Number of low income       2.760000e+02
Number of medium Income    5.410000e+02
Number of Owners           7.500000e+02
Number of Renters          6.130000e+02
Number of Natives          5.680000e+02
Number of New Comers       7.950000e+02
Number of alderlies        7.450000e+02
Number of Youngsters       6.180000e+02
dtype: float64

In [33]:
test2 = ssa.agent_pivots.agg({'ones':['count'],'AgentWealth':['mean']})

In [35]:
test2

         ones   AgentWealth
count  1363.0           NaN
mean      NaN  2.400837e+06

In [49]:
ag = ssa.agent_pivots[['Agent_status','ones','AgentWealth','Age','Native_Seniority','AgentIncome','RentTreshold','laeving','new comers','staying','High Income','Low Income','Medium Income','Owner','Rent','Native','New Comers','Old','Young']]

In [50]:
ag_count = ag[['laeving','new comers','staying']]

In [54]:
count_A_status_iteration = ag_count.agg(['count'])

In [56]:
count_A_status_iteration

       laeving  new comers  staying
count      217         795      351

In [58]:
count_A_status_iteration['laeving']['count']

217

In [47]:
ag_1 = ag[ag['Agent_status']!='Leaving']

In [43]:
test3 = ap.agg(['count', 'mean','max','min'])

In [36]:
ap = ssa.agent_pivots[['ones','AgentWealth','Age','Native_Seniority','AgentIncome','RentTreshold','laeving','new comers','staying','High Income','Low Income','Medium Income','Owner','Rent','Native','New Comers','Old','Young']]

In [44]:
test3

,ones,AgentWealth,Age,Native_Seniority,AgentIncome,RentTreshold,laeving,new comers,staying,High Income,Low Income,Medium Income,Owner,Rent,Native,New Comers,Old,Young
count,1363.0,1.363000e+03,1363.000000,1363.000000,1363.000000,1363.000000,217.0,795.0,351.0,546.0,276.0,541.0,750.0,613.0,568.0,795.0,745.0,618.0
mean,1.0,2.400837e+06,67.217168,11.496698,19111.977256,5733.593177,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,1.0,4.997671e+06,109.000000,49.000000,41511.000000,12453.300000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,1.0,2.030000e+02,25.000000,0.000000,4575.000000,1372.500000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [42]:
test3['Age']['mean']

67.2171680117388

In [ ]:
test = ssa.agent_pivots.agg({'ones':'sum','AgentWealth':'mean','Age':'mean','Native_Seniority':'mean','AgentIncome':'mean','RentTreshold':'mean','laeving':'count','new comers':'count','staying':'count','High Income':'count','Low Income':'count',
                             'Medium Income':['count'],
                             'Owner':['count'],
                             'Rent':['count'],
                             'Native':['count'],
                             'New Comers':['count'],
                             'Old':['count'],
                             'Young':['count']})