# Constructor for buildings Units Base

# Algorithm
1. loop every building in script file and in future script file
2. create a list of number of original units
3. set the number of buidling
4. set the number of Iteration (if the file will be appneded with the rest of the buildings
5. set the size of appartments (according to the average that was decided upon)
6. set the price according to the data
7. set the buy price according to the data
8. set number of floors according to data
9. set status "old buidling"
10. save the file as a seperate Excel file (in the future this will be one file)

## loading dictionary and libraries

In [22]:
import pandas as pd
import numpy as np
import geopandas as gpd
import json
import os
import ipywidgets as widgets
import numpy as np

In [541]:
#reference dictionary file
path_1 = 'library.json'
with open(path_1) as json_file:
    data = json.load(json_file)

json_formatted_str = json.dumps(data, indent=2)
print(json_formatted_str)

#rules dictionary file file
path_2 = 'rules.json'
with open(path_2) as json_file:
    rules_1 = json.load(json_file)


json_formatted_str = json.dumps(rules_1, indent=2)
print('-----Rules File-------')
print(json_formatted_str)

{
  "GIS_package": {
    "old_bldgs": {
      "package": "Source/data/GIS/BaseLayers.gpkg",
      "layer": "bldgs_renewal_2020"
    },
    "old_bldgs_background": {
      "package": "Source/data/GIS/BaseLayers.gpkg",
      "layer": "bldgs_nonrenwal2020"
    },
    "updated_bldg": {
      "package": "Source/data/GIS/sim_updated.gpkg",
      "layer": "sim_march8_current_bldgs"
    }
  },
  "script_file": "data/script/script_ssi.xlsx",
  "script_file_old": "Source/data/script/script_ssi_march_8_535pm.xlsx",
  "future_script": "data/FutureBldgs_Tama_38.xlsx",
  "Buildings_ref": "data/Buildings_flat_march_10.xlsx",
  "bldg_path": "data/bldg/",
  "Agents": "Source/Agents_8pm.xlsx",
  "cim_folder": "simulationID/",
  "Google Drive Prepath": "content/drive/My Drive/BatYam NY DRIVE/Simulations/March 4 2020 After NYC/"
}
-----Rules File-------
{
  "Maintenance": {
    "old_bldgs": {
      "4": "100",
      "8": "180",
      "12": "200"
    },
    "new_bldgs": {
      "4": "250",
      "8": "320",
      "12": "400",
      "15": "450"
    }
  },
  "Income": {
    "Low": {
      "0": "10000"
    },
    "Medium": {
      "1": "18000"
    },
    "High": {
      "2": "100000"
    }
  },
  "ArnonaTaxExplanation": "(65.23/12.0)",
  "ArnonaTax": "5.4358"
}

## loading script files

In [542]:
cim_name = widgets.Text(
    value='cim_0315_1240',
    description='Simulation Name:',
)
display(cim_name)

Text(value='cim_0315_1240', description='Simulation Name:')

In [543]:
#Cimulation path
cim_path = data['cim_folder']
script_file = data['script_file']
cim_specific_path = cim_path+cim_name.value + '/'
script_path = cim_specific_path+script_file

#Future script path
future_file = data['future_script']
future_path = cim_specific_path+future_file

print(future_path)

print(script_path)

script = pd.read_excel(script_path)
script_ft =  pd.read_excel(future_path)

simulationID/cim_0315_1240/data/FutureBldgs_Tama_38.xlsx
simulationID/cim_0315_1240/data/script/script_ssi.xlsx

In [412]:
script_ft.head(5)

,index,bld_address,OriginalUnits,OriginalFloors,OriginalHouseSize,purchase_p,rent_price,addFloors,addUnits,addArea,priceIncrease,rentIncrease,TotalUnits,TotalFloors,AvrgTotaalArea,newMaintenace,Purchase,Rent,bld_operation
0,0,215_22,18,3,88,22930.000000,62,4,15,12,0.3,0.1,33,7,100,180,2.522300e+06,7000.0,1
1,1,216_10,12,3,123,24376.000000,68,2,8,12,0.3,0.1,20,5,135,180,3.619836e+06,10278.0,1
2,2,216_4,12,3,94,23351.000000,67,3,10,12,0.3,0.1,22,6,106,180,2.722727e+06,7992.2,1
3,3,216_7,18,3,75,2083.333333,60,1,6,12,0.3,0.1,24,4,100,180,2.291667e+05,6780.0,1
4,4,215_15,12,3,80,18109.445833,60,1,4,12,0.3,0.1,16,4,92,180,1.832676e+06,6252.0,1

In [413]:
script.head(5)

,index,bld_address,OriginalUnits,OriginalFloors,originalRentPercent,OriginalHouseSize,purchase_p,rent_price,Maintenace,ArnonaPerMeter,...,bld_operation,pointPolygon,ParcelChange,FuturePlanID,ExcelBefore,ExcelChange,ExcelPolygon,GIS_files,Address Title,TypeTitle
0,0,215_22,18,3.0,0.212121,88,19108.333333,62,100,5.4358,...,1,Point,No,20140882,before_215_22.xlsx,after_215_22.xlsx,NaN,bldgs_1a,"סוקולוב 22, בת ים",תמ״א 38/1
1,1,216_10,12,3.0,0.300000,100,20313.333333,68,100,5.4358,...,1,Point,No,20120398,before_216_10.xlsx,after_216_10.xlsx,NaN,bldgs_2a,"מסריק 10, בת ים",תמ״א 38/1
2,2,216_4,12,3.0,0.631579,94,19459.166667,67,100,5.4358,...,1,Point,No,20141086,before_216_4.xlsx,after_216_4.xlsx,NaN,bldgs_3a,"מסריק 4, בת ים",תמ״א 38/1
3,3,216_7,18,3.0,0.320000,75,2083.333333,60,100,5.4358,...,1,Point,No,20160636,before_216_7.xlsx,after_216_7.xlsx,NaN,bldgs_4a,"מסריק 7, בת ים",תמ״א 38/1
4,4,215_15,12,3.0,0.500000,80,18109.445833,60,100,5.4358,...,1,Point,No,20140449,before_215_15.xlsx,after_215_15.xlsx,NaN,bldgs_5a,"סוקולוב 15, בת ים",תמ״א 38/1

In [414]:
script_ft

,index,bld_address,OriginalUnits,OriginalFloors,OriginalHouseSize,purchase_p,rent_price,addFloors,addUnits,addArea,priceIncrease,rentIncrease,TotalUnits,TotalFloors,AvrgTotaalArea,newMaintenace,Purchase,Rent,bld_operation
0,0,215_22,18,3,88,22930.000000,62,4,15,12,0.3,0.1,33,7,100,180,2.522300e+06,7000.0,1
1,1,216_10,12,3,123,24376.000000,68,2,8,12,0.3,0.1,20,5,135,180,3.619836e+06,10278.0,1
2,2,216_4,12,3,94,23351.000000,67,3,10,12,0.3,0.1,22,6,106,180,2.722727e+06,7992.2,1
3,3,216_7,18,3,75,2083.333333,60,1,6,12,0.3,0.1,24,4,100,180,2.291667e+05,6780.0,1
4,4,215_15,12,3,80,18109.445833,60,1,4,12,0.3,0.1,16,4,92,180,1.832676e+06,6252.0,1
5,5,209_6,6,3,94,22922.000000,50,0,0,25,0.3,0.2,25,9,119,320,3.273262e+06,7460.0,2
6,6,209_8,40,4,75,19890.833333,71,3,26,12,0.3,0.2,66,7,87,180,2.076603e+06,7592.4,1
7,7,208_12,24,3,85,18357.298000,62,3,20,12,0.3,0.2,44,6,97,180,2.136789e+06,7396.8,1
8,8,210_56,4,2,65,18328.990833,67,0,0,0,0.3,0.2,23,9,65,320,1.429661e+06,5546.0,2
9,9,210_11,12,3,85,19858.653000,65,3,8,15,0.3,0.1,20,6,100,180,2.184452e+06,7330.0,1
10,10,216_3,18,3,78,20676.289000,62,3,14,12,0.3,0.1,32,6,90,180,2.046953e+06,6318.0,1
11,11,215_18,18,3,83,19130.119167,53,4,12,12,0.3,0.1,30,7,95,180,1.999097e+06,5718.5,1
12,12,215_24,18,3,74,19441.906667,65,4,12,12,0.3,0.1,30,7,86,180,1.839204e+06,6329.0,1
13,13,220_4,16,3,81,19110.503000,65,4,14,12,0.4,0.1,30,7,93,180,1.955004e+06,6829.5,1
14,14,212_53,33,6,85,21195.800909,65,3,21,12,0.4,0.1,54,9,97,200,2.261592e+06,7135.5,1

## initating iteration

In [415]:
Agents = pd.DataFrame()
agents_name = widgets.Text(value='agents.xlsx')
display(agents_name)

Text(value='agents.xlsx')

In [531]:
max_line = script.index[-1] + 1
i_slider = widgets.IntSlider(min=0, max =max_line)
display(i_slider)

IntSlider(value=0, max=18)

In [536]:
i = i_slider.value
print('Iteration '+ str(i))
currentBldg = script.loc[i]

Iteration 16

In [539]:
currentBldg

index                                   16
bld_address                         212_53
OriginalUnits                           33
OriginalFloors                           6
originalRentPercent               0.212121
OriginalHouseSize                       85
purchase_p                         21195.8
rent_price                              65
Maintenace                             100
ArnonaPerMeter                      5.4358
Arnona                                 462
Old_Purchase                   1.80164e+06
OldRent                               6087
Tax and Maintenace                     562
East                                175678
North                               659228
bld_operation                            1
pointPolygon                         Point
ParcelChange                            No
FuturePlanID                      20160319
ExcelBefore             before_212_53.xlsx
ExcelChange              after_212_53.xlsx
ExcelPolygon                           NaN
GIS_files                        bldgs_17a
Address Title          בן גוריון 53, בת ים
TypeTitle                        תמ״א 38/1
Name: 16, dtype: object

In [551]:

if (currentBldg.bld_operation < 3):
    current_bldg_ds = pd.DataFrame()
    Future_bldg_ds = pd.DataFrame()
    subAgents_ds = pd.DataFrame()
    
    #original building
 
    cb = def_currentBld_op12_ds(currentBldg)
    bldg_path = data['bldg_path']
    sp_bldg_before_path = cim_specific_path + bldg_path + currentBldg.ExcelBefore
    cb.to_excel(sp_bldg_before_path)
    
    #Future building or construction
    futureBldg = script_ft[script_ft['bld_address']==currentBldg['bld_address']]
    fb = def_futureBld_op12_ds(futureBldg)
    bldg_path = data['bldg_path']
    sp_bldg_after_path = cim_specific_path + bldg_path + currentBldg.ExcelChange
    fb.to_excel(sp_bldg_after_path)
    
    #Update Agents
    rent_percent = currentBldg['originalRentPercent']
    ng = generateAgensts(cb,rent_percent)
    Agents = Agents.append(ng)
    Agents.reset_index(inplace=True)
    Agents['AgentID'] = Agents.index
    Agents = Agents[['AgentAppUnit', 'AgentBldAdd', 'AgentIncome', 'AgentWealth','AgentPurchaseThreshold', 'AgentRentThreshold', 'Age',
           'OwnerShip', 'AgeGroup', 'Native_Seniority', 'Native_Group', 'AgentID']]
    agents_path =cim_specific_path+agents_name.value
    Agents.to_excel(agents_path)
    
else:
    print('oh oh operation 3!')
    #operation 3 means that it's a Polygon not a single building
    get_complex_xlsx = currentBldg.ExcelPolygon
    sp_bldg_folder_path = cim_specific_path + bldg_path
    bldg_path_xlsx= sp_bldg_folder_path+get_complex_xlsx
    inside_script = pd.read_excel(bldg_path_xlsx)
    before_dem = inside_script[inside_script.status=='destroyed']
    after_dem = inside_script[inside_script.status=='New Building']

In [547]:
futureBldg

,index,bld_address,OriginalUnits,OriginalFloors,OriginalHouseSize,purchase_p,rent_price,addFloors,addUnits,addArea,priceIncrease,rentIncrease,TotalUnits,TotalFloors,AvrgTotaalArea,newMaintenace,Purchase,Rent,bld_operation
14,14,212_53,33,6,85,21195.800909,65,3,21,12,0.4,0.1,54,9,97,200,2261591.957,7135.5,1

In [499]:
if (currentBldg.bld_operation < 3):
    print(currentBldg.bld_operation)
#     current_bldg_ds['appUnits'] = unitNumber
#     current_bldg_ds['bldAdd'] = currentBldg.bld_address
#     current_bldg_ds['AppSize'] = currentBldg.OriginalHouseSize
#     current_bldg_ds['sellPerMeter'] = currentBldg.purchase_p
#     current_bldg_ds['rentPerMeter'] = currentBldg.rent_price
#     current_bldg_ds['sellPrice'] = current_bldg_ds['AppSize'] * current_bldg_ds['sellPerMeter']
#     current_bldg_ds['rentPerMonth'] = current_bldg_ds['AppSize'] * current_bldg_ds['rentPerMeter'] + currentBldg.Maintenace
#     current_bldg_ds['maintenace'] = currentBldg.Maintenace
#     if (currentBldg.bld_operation == 1):
#         current_bldg_ds['status'] = 'Old Building'
#     else:
#         current_bldg_ds['status'] = 'Demolished'
else:
    print(before_dem.index.tolist())
    after_dem.reset_index(inplace=True)
    print(after_dem.index.tolist())
    print('Operation 3')
    last_line1 = len(before_dem.index)-1
    last_line2 = len(after_dem.index)-1

[0, 1, 2, 3, 4]
[0, 1]
Operation 3

In [500]:
j_slider = widgets.IntSlider(min=0, max =last_line1+1)
display(j_slider)

IntSlider(value=0, max=5)

In [501]:
    agents_path =cim_specific_path+agents_name.value
    #Agents.to_excel(agents_path)

In [502]:
bldg_path_before_xlsx

'simulationID/cim_0315_1240/data/bldg/before_complex_17.xlsx'

In [503]:
bldg_path = data['bldg_path']

In [492]:
Agents = pd.read_excel(agents_path)

In [504]:
Agents.tail()

,Unnamed: 0,AgentAppUnit,AgentBldAdd,AgentIncome,AgentWealth,AgentPurchaseThreshold,AgentRentThreshold,Age,OwnerShip,AgeGroup,Native_Seniority,Native_Group,AgentID,AgeGroupDesc,NativeDesc,OwnershipDesc,IncomeNum,IncomeDesc
367,367,37,210_8,15419,1214833,364449.9,4625.848,69,0,1,44,1,367,Old,Native,Rent,1,Medium Income
368,368,38,210_8,8570,2094320,628296.0,2571.148,96,1,1,20,1,368,Old,Native,Owner,0,Low Income
369,369,39,210_8,15783,2465373,739611.9,4735.048,87,1,1,24,1,369,Old,Native,Owner,1,Medium Income
370,370,40,210_8,18199,1215664,364699.2,5459.848,85,0,1,42,1,370,Old,Native,Rent,2,High Income
371,371,41,210_8,17682,4403885,1321165.5,5304.748,82,0,1,47,1,371,Old,Native,Rent,1,Medium Income

In [509]:
j = j_slider.value 

if (j==0):
    current_bldg_ds = pd.DataFrame()
    #Future_bldg_ds = pd.DataFrame()
    subAgents_ds = pd.DataFrame()
    #after_dem.reset_index(inplace=True)
before_line = before_dem.loc[j]
current_bldg_ds = current_bldg_ds.append(def_currentBld_op3_ds(before_line))

if (j==last_line1):
    print('last line!')
    #bldg_path = data['bldg_path']
    
    bldg_path_before_xlsx = cim_specific_path + bldg_path + currentBldg.ExcelBefore
    
    #sp_bldg_path = bldg_path + currentBldg.ExcelBefore
    current_bldg_ds.reset_index(inplace=True)
    current_bldg_ds.to_excel(bldg_path_before_xlsx)
    subAgents_ds = generateAgensts(current_bldg_ds)

    Agents = Agents.append(subAgents_ds)
    Agents.reset_index(inplace=True)
    Agents['AgentID'] = Agents.index
    Agents = Agents[['AgentAppUnit', 'AgentBldAdd', 'AgentIncome', 'AgentWealth','AgentPurchaseThreshold', 'AgentRentThreshold', 'Age',
           'OwnerShip', 'AgeGroup', 'Native_Seniority', 'Native_Group', 'AgentID']]
    #path ="Source/"+agents_name.value
    Agents.to_excel(agents_path)
#after_line = after_dem.loc[j]
#Future_bldg_ds = Future_bldg_ds.append(def_FutureBld_op3_ds(after_line))

last line!

In [513]:
last_line2 = len(after_dem.index)-1
print(last_line2)
#after_dem.reset_index(inplace=True)

1

In [511]:
agents_path

'simulationID/cim_0315_1240/agents.xlsx'

In [518]:
j_slider = widgets.IntSlider(min=0, max =last_line2+1)
display(j_slider)

IntSlider(value=0, max=2)

In [521]:
j=j_slider.value
if (j==0):
    Future_bldg_ds = pd.DataFrame()
after_line = after_dem.loc[j]
Future_bldg_ds = Future_bldg_ds.append(def_FutureBld_op3_ds(after_line))
if (j==last_line2):
    bldg_path_after_xlsx = cim_specific_path + bldg_path + currentBldg.ExcelChange
    #bldg_path = data['bldg_path']
    #sp_bldg_path = bldg_path + currentBldg.ExcelChange
    Future_bldg_ds.reset_index(inplace=True)
    Future_bldg_ds.to_excel(bldg_path_after_xlsx)

In [305]:
def def_currentBld_op12_ds(this_line):
    ds = pd.DataFrame()
    
    nUnits = this_line.OriginalUnits
    unitNumber = [k for k in range(nUnits)]
    
    ds['appUnits'] = unitNumber
    ds['bldAdd'] = this_line.bld_address
    ds['AppSize'] = this_line.OriginalHouseSize
    ds['sellPerMeter'] = this_line.purchase_p
    ds['rentPerMeter'] = this_line.rent_price
    
    ds['ArnonaTarif'] = float(rules_1['ArnonaTax'])
    ds['ArnonaTax'] = ds['ArnonaTarif'] * ds['AppSize']
    
    ds['sellPrice'] = ds['AppSize'] * ds['sellPerMeter']
    ds['rentPerMonth'] = ds['AppSize'] * ds['rentPerMeter'] + this_line.Maintenace +  ds['ArnonaTax']
    ds['maintenace&Tax'] = this_line.Maintenace + ds['ArnonaTax']
    
    
    if (this_line.bld_operation == 1):
        ds['status'] = 'Old Building'
    else:
        ds['status'] = 'Demolished'
    return ds

In [549]:
def def_futureBld_op12_ds(this_line):
    ds = pd.DataFrame()
    nUnits = int(this_line.TotalUnits)
    unitNewNumber = [k for k in range(nUnits)]
    ds['appUnits'] = unitNewNumber
    ds['bldAdd'] = this_line.bld_address
    ds['AppSize'] = this_line.AvrgTotaalArea
    ds['sellPerMeter'] = this_line.purchase_p * ( 1 + this_line.priceIncrease )
    ds['rentPerMeter'] = this_line.rent_price * ( 1 + this_line.rentIncrease )
    
    ds['ArnonaTarif'] = float(rules_1['ArnonaTax'])
    ds['ArnonaTax'] = ds['ArnonaTarif'] * ds['AppSize']
    
    ds['sellPrice'] = ds['AppSize'] * ds['sellPerMeter']
    ds['rentPerMonth'] = ds['AppSize'] * ds['rentPerMeter'] + this_line.newMaintenace + ds['ArnonaTax'] 
    
    ds['newMaintenace&Tax'] = this_line.newMaintenace + ds['ArnonaTax']
    
    if (currentBldg.bld_operation ==1 ):
        ds['status'] = 'Tama 38_1'
    else:
        ds['status'] = 'Tama 38_2'
    return ds

In [307]:
def def_currentBld_op3_ds(before_line):
    ds = pd.DataFrame()
    
    nUnits = before_line.OriginalUnits
    unitNumber = [k for k in range(nUnits)]
    
    ds['appUnits'] = unitNumber
    ds['bldAdd'] = before_line.bld_address
    ds['AppSize'] = before_line.OriginalHouseSize
    ds['sellPerMeter'] = before_line.purchase_p
    ds['rentPerMeter'] = before_line.rent_price

    ds['ArnonaTarif'] = float(rules_1['ArnonaTax'])
    ds['ArnonaTax'] = ds['ArnonaTarif'] * ds['AppSize']
    
    ds['sellPrice'] = ds['AppSize'] * ds['sellPerMeter']
    ds['rentPerMonth'] = ds['AppSize'] * ds['rentPerMeter'] + before_line.Maintenace +  ds['ArnonaTax']
    ds['maintenace&Tax'] = before_line.Maintenace +  ds['ArnonaTax']
    ds['status'] = 'Demolished'
    return ds

In [308]:
def def_FutureBld_op3_ds(after_line):
    ds = pd.DataFrame()
    nUnits = int(after_line.TotalUnits)
    unitNewNumber = [k for k in range(nUnits)]
    ds['appUnits'] = unitNewNumber
    ds['bldAdd'] = after_line.bld_address
    ds['AppSize'] = after_line.AvrgTotaalArea
    ds['sellPerMeter'] = after_line.purchase_p * ( 1 + after_line.priceIncrease )
    ds['rentPerMeter'] = after_line.rent_price * ( 1 + after_line.rentIncrease )

    
    ds['ArnonaTarif'] = float(rules_1['ArnonaTax'])
    ds['ArnonaTax'] = ds['ArnonaTarif'] * ds['AppSize']
    
    ds['sellPrice'] = ds['AppSize'] * ds['sellPerMeter']
    ds['rentPerMonth'] = ds['AppSize'] * ds['rentPerMeter'] + after_line.newMaintenace + ds['ArnonaTax'] 
    
    ds['newMaintenace&Tax'] = after_line.newMaintenace + ds['ArnonaTax'] 
    ds['status'] = 'New Building'
    return ds

In [309]:
def generateAgensts(thisDS, per = 0.5):
    nUnits = len(thisDS['appUnits'])
    #unitNumber = [k for k in range(nUnits)]
    
    rand_income_rent = np.random.randint(0, high=5000, size=nUnits, dtype='l') #monthly income
    rand_inc_sr_rent =  pd.Series(rand_income_rent)

    rand_income_own = np.random.randint(3000, high=15000, size=nUnits, dtype='l') #monthly income
    rand_inc_sr_own =  pd.Series(rand_income_own)
    
    rand_wealth = np.random.randint(0, high=5000000, size=nUnits, dtype='l') #wealth
    age = np.random.randint(25, high=110, size=nUnits, dtype='l') #wealth
    
    #ownership!
    P=[per,1-per]
    ownership = np.random.choice(2,size = nUnits,p=P)
    #ownership = np.random.randint(0, high=2, size=nUnits, dtype='l') #0 rent 1 owns
    
    ds = pd.DataFrame()
    
    ds['OwnerShip'] = pd.Series(ownership)
    ds['AgentAppUnit'] = thisDS['appUnits'] #what unit does the agent live in
    ds['AgentBldAdd'] = thisDS['bldAdd'] # in what bld address does the Agent live in
    
    #ds['AgentIncome'] = (thisDS['rentPerMonth'])/0.3 + pd.Series(rand_income) #Income for One
    
    #ds['AgentIncome'] = (thisDS['rentPerMonth'])/0.3 + pd.Series(rand_income) #Income for One
 
    ds['AgentWealth'] = pd.Series(rand_wealth)
    
    ds['AgentPurchaseThreshold'] = ds['AgentWealth'] * 0.3 # 30% of wealth, Agent can buy a house without Mortgage
    ds['Age'] = pd.Series(age)
    
    ds['AgeGroup'] = ds['Age'].apply(lambda x: 0 if x < 65 else 1)
    ds['Native_Seniority'] = ds['Age'].apply(getRandomSeniority)
    ds['Native_Group'] = ds['Native_Seniority'].apply(lambda x: 0 if x < 10 else 1) # 0 Native, 1 NewComer
    
    # for renters take the rent price
    ds.loc[ds['OwnerShip']==0,'AgentIncome'] = (thisDS[ds['OwnerShip']==0]['rentPerMonth'])/0.3 + rand_inc_sr_rent[ds['OwnerShip']==0]
    ds.loc[ds['OwnerShip']==1,'AgentIncome'] = (thisDS[ds['OwnerShip']==1]['maintenace&Tax'])/0.3 + rand_inc_sr_own[ds['OwnerShip']==1]
    ds['AgentRentThreshold'] = ds['AgentIncome'] * 0.3 # 30% of income
    
    return ds

In [310]:
def getRandomSeniority(age):
    max_seniority = 50
    min_seniority = 10
    if age > 50:
        max_seniority = 50
        min_seniority = 10
    else:
        max_seniority = age
        min_seniority = 10
    return np.random.randint(min_seniority, high=max_seniority, size=1, dtype='l')[0]

# Data Formating
doing some formating to the Agents file to make it more clear for statistical purposes.

In [552]:
Agents = Agents[['AgentAppUnit', 'AgentBldAdd', 'AgentIncome', 'AgentWealth','AgentPurchaseThreshold', 'AgentRentThreshold', 'Age',
           'OwnerShip', 'AgeGroup', 'Native_Seniority', 'Native_Group', 'AgentID']]
#path ="Source/"+agents_name.value
#Agents.to_excel(path)

In [553]:
Agents.tail(5)

,AgentAppUnit,AgentBldAdd,AgentIncome,AgentWealth,AgentPurchaseThreshold,AgentRentThreshold,Age,OwnerShip,AgeGroup,Native_Seniority,Native_Group,AgentID
446,28,212_53,6332.476667,1932619,579785.7,1899.743,28,1,0,21,1,446
447,29,212_53,15738.476667,4054617,1216385.1,4721.543,107,1,1,46,1,447
448,30,212_53,11622.476667,4396565,1318969.5,3486.743,87,1,1,34,1,448
449,31,212_53,14629.476667,3271362,981408.6,4388.843,40,1,0,22,1,449
450,32,212_53,13084.476667,4842072,1452621.6,3925.343,104,1,1,12,1,450

In [554]:
Agents['AgentIncome'] = Agents['AgentIncome'].astype(int)

In [555]:
#Age Formating
Agents['AgeGroupDesc'] = Agents['Age'].apply(lambda x: 'Young' if x < 65 else 'Old')
#Native Formating
Agents['NativeDesc'] = Agents['Native_Group'].apply(lambda x: 'Native' if x == 1 else 'New Comers')
#Ownership Formating
Agents['OwnershipDesc'] = Agents['OwnerShip'].apply(lambda x: 'Owner' if x == 1 else 'Rent')

In [556]:
LowInc = int(rules_1['Income']['Low']['0'])
MediumInc = int(rules_1['Income']['Medium']['1'])
HighInc = int(rules_1['Income']['High']['2'])
Agents['IncomeNum'] = Agents['AgentIncome'].apply(lambda x: "0" if x < LowInc else "1" if x < MediumInc else "2")
Agents['IncomeDesc'] = Agents['AgentIncome'].apply(lambda x: 'Low Income' if x < LowInc else 'Medium Income' if x < MediumInc else "High Income")

In [557]:
Agents.to_excel(agents_path)

In [558]:
Agents.tail()

,AgentAppUnit,AgentBldAdd,AgentIncome,AgentWealth,AgentPurchaseThreshold,AgentRentThreshold,Age,OwnerShip,AgeGroup,Native_Seniority,Native_Group,AgentID,AgeGroupDesc,NativeDesc,OwnershipDesc,IncomeNum,IncomeDesc
446,28,212_53,6332,1932619,579785.7,1899.743,28,1,0,21,1,446,Young,Native,Owner,0,Low Income
447,29,212_53,15738,4054617,1216385.1,4721.543,107,1,1,46,1,447,Old,Native,Owner,1,Medium Income
448,30,212_53,11622,4396565,1318969.5,3486.743,87,1,1,34,1,448,Old,Native,Owner,1,Medium Income
449,31,212_53,14629,3271362,981408.6,4388.843,40,1,0,22,1,449,Young,Native,Owner,1,Medium Income
450,32,212_53,13084,4842072,1452621.6,3925.343,104,1,1,12,1,450,Old,Native,Owner,1,Medium Income

# Experiments

In [160]:
    #roei method - for random choice
    #ownership!
    per = 0.2
    nUnits = 1000
    P=[per,1-per]
    owner_renter_rows = np.random.choice(2,size = nUnits,p=P)
    n_d = pd.DataFrame()
    n_d['owners'] = owner_renter_rows
    n_d.reset_index(inplace=True,drop=True)
    len_0 = len(n_d[n_d['owners']==0])

In [161]:
len_0

182

In [170]:
selected_rows = np.random.choice(2,size = 20,p=[0.6,0.4])

In [171]:
selected_rows

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])

In [176]:
selected_rows2 = selected_rows.tolist()

In [184]:
selected_rows2

[0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0]

In [185]:
selected_rows2==1

False

In [180]:
nd = pd.DataFrame()

In [181]:
nd['test'] = range(0,20)

In [182]:
nd['test']

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: test, dtype: int64

In [183]:
nd['test'].iloc[selected_rows2]

0    0
0    0
1    1
0    0
1    1
0    0
0    0
0    0
0    0
0    0
1    1
0    0
1    1
1    1
0    0
0    0
0    0
0    0
1    1
0    0
Name: test, dtype: int64

In [186]:
nd['test2'] = selected_rows2

In [187]:
nd

    test  test2
0      0      0
1      1      0
2      2      1
3      3      0
4      4      1
5      5      0
6      6      0
7      7      0
8      8      0
9      9      0
10    10      1
11    11      0
12    12      1
13    13      1
14    14      0
15    15      0
16    16      0
17    17      0
18    18      1
19    19      0