## <h1>Simulation Simple Iteration "Cimulation" Israel Bat Yam Version March 6 (update march 28)</h1>
this is a proof of concept that the simulation works and that it's solid.
this simultation doesn't hold all the correct data, as the data is fautlty and rework is needed to it
what this simulation has is 5 iterations
the first 3 iterations are Tama 38/1
the 4th iteration is Tama 38/2
and the 5th iteration is an example of a Taba Planning

<h1>step 1: Loading the files</h1>

In [14]:
from ssi_GEOPACKAGE_march_28 import SSI

In [15]:
ssi = SSI()
display(ssi.simulation_folder)

Text(value='cim_0326_1234', description='Folder:')

## Reference to the dictionary File
### Initiate GIS files load old buildings, background buildings and new updated buildings
### Dictionary File is important to keep a reference of the main files for the simulation

In [16]:
display(ssi.agents_name)

Text(value='agents.xlsx', description='Agent File')

In [17]:
ssi.init_gis()
ssi.init_db()

<h2>Files have been loaded</h2> 
<h1>step 2:Displyaing the the original buildings Using Folium and displaying statistics to them</h1>

In [18]:
display (ssi.before_map)

Checkbox(value=False, description='Display Before Map?', indent=False)

In [19]:
if (ssi.before_map.value):
    fmap = ssi.prepare_old_bldgs_map()
    display(fmap)
    fmap2 = ssi.prepare_agents_statistics_map_0()
    display(fmap2)

In [20]:
if (ssi.before_map.value):
    fmap2.save('map_march_28_itr_0.html')
    fmap.save('map_march_28_itr_0_bld_info.html')

<h1>step 3: setting up first iteration of simulation</h1>
<h2>Adding Threshold ability to stay for each agent and initalStatus<h2/>
    <h2>Here I am initating datsets for referncing the differnet excel sheets in each iteration</h2>
    <h2>lets give a name to this simulation and control the iteration</h2>

<h2>controlling iteration</h2>

In [21]:
ssi.set_up_first_iteration()

In [22]:
display(ssi.AutoNameSimulation)

Checkbox(value=False, description='Auto Name Simulation?', indent=False)

In [23]:
if ssi.AutoNameSimulation.value:
    pass
else:
    display(ssi.simulation_name)

In [24]:
display(ssi.itr_slider)

IntSlider(value=0, max=24)

In [25]:
display(ssi.infoText)

Textarea(value='', placeholder='')

In [26]:
ssi.iterateAll()

<h1>step 4: starting iteration</h1>

In [32]:
# need to save in excel
# need to do smart iteration statistics
#https://towardsdatascience.com/interactive-controls-for-jupyter-notebooks-f5c94829aee6
#alternative to Plotly Dash

In [31]:
ssi.agents_all_iterations

,index,OwnerShip,AgentAppUnit,AgentBldAdd,AgentWealth,AgentPurchaseThreshold,Age,AgeGroup,Native_Seniority,Native_Group,...,OwnershipDesc,IncomeNum,IncomeDesc,TaxAndMainTreshold,RentTreshold,BuyTreshold,Agent_status,AgentID,projectID_itr,iteration
0,0,1,0,215_22,35965,10789.5,33,0,29,1,...,Owner,1,Medium Income,3086.7,3086.7,10789.5,staying,0,2.01409e+07,0
1,1,1,1,215_22,2800041,840012.3,74,1,33,1,...,Owner,1,Medium Income,3372.0,3372.0,840012.3,staying,1,2.01409e+07,0
2,2,1,2,215_22,4026174,1207852.2,106,1,10,1,...,Owner,1,Medium Income,3873.9,3873.9,1207852.2,staying,2,2.01409e+07,0
3,3,1,3,215_22,3996139,1198841.7,44,0,28,1,...,Owner,0,Low Income,1946.7,1946.7,1198841.7,staying,3,2.01409e+07,0
4,4,1,4,215_22,963273,288981.9,35,0,33,1,...,Owner,1,Medium Income,4406.1,4406.1,288981.9,staying,4,2.01409e+07,0
5,5,1,5,215_22,4838083,1451424.9,107,1,44,1,...,Owner,1,Medium Income,4268.4,4268.4,1451424.9,staying,5,2.01409e+07,0
6,6,0,6,215_22,4637960,1391388.0,42,0,18,1,...,Rent,2,High Income,7188.9,7188.9,1391388.0,laeving,6,2.01409e+07,0
7,7,1,7,215_22,2245201,673560.3,51,0,48,1,...,Owner,0,Low Income,2763.9,2763.9,673560.3,staying,7,2.01409e+07,0
8,8,1,8,215_22,1183891,355167.3,25,0,15,1,...,Owner,0,Low Income,2823.6,2823.6,355167.3,staying,8,2.01409e+07,0
9,9,1,9,215_22,3551007,1065302.1,82,1,17,1,...,Owner,1,Medium Income,4192.2,4192.2,1065302.1,staying,9,2.01409e+07,0
10,10,0,10,215_22,86450,25935.0,51,0,11,1,...,Rent,2,High Income,6941.7,6941.7,25935.0,laeving,10,2.01409e+07,0
11,11,0,11,215_22,1198959,359687.7,56,0,24,1,...,Rent,2,High Income,6236.7,6236.7,359687.7,laeving,11,2.01409e+07,0
12,12,1,12,215_22,3522335,1056700.5,101,1,38,1,...,Owner,1,Medium Income,4008.3,4008.3,1056700.5,staying,12,2.01409e+07,0
13,13,1,13,215_22,3552349,1065704.7,82,1,13,1,...,Owner,1,Medium Income,3110.1,3110.1,1065704.7,staying,13,2.01409e+07,0
14,14,1,14,215_22,4567768,1370330.4,79,1,22,1,...,Owner,0,Low Income,2510.1,2510.1,1370330.4,staying,14,2.01409e+07,0
15,15,0,15,215_22,4148237,1244471.1,98,1,10,1,...,Rent,2,High Income,6321.9,6321.9,1244471.1,laeving,15,2.01409e+07,0
16,16,0,16,215_22,1382957,414887.1,93,1,42,1,...,Rent,2,High Income,6202.2,6202.2,414887.1,laeving,16,2.01409e+07,0
17,17,0,17,215_22,4889097,1466729.1,59,0,32,1,...,Rent,2,High Income,7530.0,7530.0,1466729.1,laeving,17,2.01409e+07,0
18,18,1,0,216_10,1641679,492503.7,85,1,44,1,...,Owner,1,Medium Income,4727.7,4727.7,492503.7,staying,18,NaN,0
19,19,1,1,216_10,2714966,814489.8,102,1,24,1,...,Owner,1,Medium Income,5125.5,5125.5,814489.8,staying,19,NaN,0
20,20,1,2,216_10,1652490,495747.0,54,0,30,1,...,Owner,1,Medium Income,4977.3,4977.3,495747.0,staying,20,NaN,0
21,21,0,3,216_10,31122,9336.6,73,1,31,1,...,Rent,2,High Income,8797.2,8797.2,9336.6,staying,21,NaN,0
22,22,0,4,216_10,2902411,870723.3,64,0,12,1,...,Rent,2,High Income,8727.9,8727.9,870723.3,staying,22,NaN,0
23,23,1,5,216_10,4159863,1247958.9,83,1,12,1,...,Owner,1,Medium Income,4648.2,4648.2,1247958.9,staying,23,NaN,0
24,24,1,6,216_10,2260394,678118.2,95,1,48,1,...,Owner,0,Low Income,1878.0,1878.0,678118.2,staying,24,NaN,0
25,25,1,7,216_10,1267370,380211.0,98,1,17,1,...,Owner,1,Medium Income,4054.8,4054.8,380211.0,staying,25,NaN,0
26,26,1,8,216_10,3128663,938598.9,95,1,39,1,...,Owner,0,Low Income,2205.3,2205.3,938598.9,staying,26,NaN,0
27,27,0,9,216_10,211049,63314.7,55,0,46,1,...,Rent,2,High Income,8224.8,8224.8,63314.7,staying,27,NaN,0
28,28,0,10,216_10,2476867,743060.1,107,1,17,1,...,Rent,2,High Income,8209.8,8209.8,743060.1,staying,28,NaN,0
29,29,1,11,216_10,2629120,788736.0,44,0,15,1,...,Owner,1,Medium Income,3716.1,3716.1,788736.0,staying,29,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,1333,1,19,209_4,3533484,1060045.0,76,1,0,0,...,Owner,1,Medium Income,4294.5,4294.5,1060045.2,new comers,1333,NaN,23
1334,1334,0,21,209_4,4401433,1320429.0,67,1,0,0,...,Rent,2,High Income,6765.6,6765.6,1320429.9,new comers,1334,NaN,23
1335,1335,0,22,209_4,2073308,621992.0,69,1,0,0,...,Rent,2,High Income,7333.2,7333.2,621992.4,new comers,1335,NaN,23
1336,1336,0,23,209_4,3724587,1117376.0,93,1,0,0,...,Rent,2,High Income,6320.4,6320.4,1117376.1,new comers,1336,NaN,23
1337,1337,0,24,209_4,2029275,608782.0,96,1,0,0,...,Rent,2,High Income,7062.6,7062.6,608782.5,new comers,1337,NaN,23
1338,1338,0,25,209_4,2173990,652197.0,83,1,0,0,...,Rent,2,High Income,6171.3,6171.3,652197.0,new comers,1338,NaN,23
1339,1339,1,26,209_4,54206,16261.0,93,1,0,0,...,Owner,1,Medium Income,3894.9,3894.9,16261.8,new comers,1339,NaN,23
1340,1340,1,27,209_4,1071583,321474.0,68,1,0,0,...,Owner,1,Medium Income,3917.4,3917.4,321474.9,new comers,1340,NaN,23
1341,1341,0,28,209_4,2258211,677463.0,45,0,0,0,...,Rent,2,High Income,6599.7,6599.7,677463.3,new comers,1341,NaN,23
1342,1342,1,29,209_4,3910835,1173250.0,67,1,0,0,...,Owner,0,Low Income,2829.3,2829.3,1173250.5,new comers,1342,NaN,23
1343,1343,0,30,209_4,4639920,1391976.0,51,0,0,0,...,Rent,2,High Income,6643.8,6643.8,1391976.0,new comers,1343,NaN,23
1344,1344,0,31,209_4,977846,293353.0,36,0,0,0,...,Rent,2,High Income,7392.6,7392.6,293353.8,new comers,1344,NaN,23
1345,1345,1,32,209_4,1115900,334770.0,65,1,0,0,...,Owner,0,Low Income,1543.8,1543.8,334770.0,new comers,1345,NaN,23
1346,1346,0,33,209_4,665867,199760.0,103,1,0,0,...,Rent,2,High Income,6949.8,6949.8,199760.1,new comers,1346,NaN,23
1347,1347,0,34,209_4,1980435,594130.0,99,1,0,0,...,Rent,2,High Income,7091.4,7091.4,594130.5,new comers,1347,NaN,23
1348,1348,1,35,209_4,4665183,1399554.0,34,0,0,0,...,Owner,1,Medium Income,4564.5,4564.5,1399554.9,new comers,1348,NaN,23
1349,0,0,7,217_5,2158475,647542.0,27,0,0,0,...,Rent,2,High Income,7131.0,7131.0,647542.5,new comers,1349,2.01405e+07,23
1350,1,1,9,217_5,4334318,1300295.0,47,0,0,0,...,Owner,0,Low Income,2448.6,2448.6,1300295.4,new comers,1350,2.01405e+07,23
1351,2,0,11,217_5,2654394,796318.0,98,1,0,0,...,Rent,2,High Income,7393.8,7393.8,796318.2,new comers,1351,2.01405e+07,23
1352,3,1,13,217_5,965411,289623.0,76,1,0,0,...,Owner,0,Low Income,2350.5,2350.5,289623.3,new comers,1352,2.01405e+07,23
1353,4,1,17,217_5,3401930,1020579.0,43,0,0,0,...,Owner,0,Low Income,2403.9,2403.9,1020579.0,new comers,1353,2.01405e+07,23
1354,5,1,18,217_5,2113895,634168.0,77,1,0,0,...,Owner,1,Medium Income,3653.4,3653.4,634168.5,new comers,1354,2.01405e+07,23
1355,6,1,19,217_5,3400943,1020282.0,88,1,0,0,...,Owner,0,Low Income,2668.2,2668.2,1020282.9,new comers,1355,2.01405e+07,23
1356,7,1,20,217_5,4643797,1393139.0,60,0,0,0,...,Owner,1,Medium Income,4076.1,4076.1,1393139.1,new comers,1356,2.01405e+07,23
1357,8,1,21,217_5,585683,175704.0,77,1,0,0,...,Owner,1,Medium Income,3823.5,3823.5,175704.9,new comers,1357,2.01405e+07,23
1358,9,0,22,217_5,4176228,1252868.0,59,0,0,0,...,Rent,2,High Income,6904.5,6904.5,1252868.4,new comers,1358,2.01405e+07,23
1359,10,0,23,217_5,99875,29962.0,91,1,0,0,...,Rent,2,High Income,6526.2,6526.2,29962.5,new comers,1359,2.01405e+07,23
1360,11,1,24,217_5,4858692,1457607.0,62,0,0,0,...,Owner,0,Low Income,2360.1,2360.1,1457607.6,new comers,1360,2.01405e+07,23
1361,12,1,25,217_5,3426925,1028077.0,53,0,0,0,...,Owner,0,Low Income,2787.6,2787.6,1028077.5,new comers,1361,2.01405e+07,23
1362,13,1,26,217_5,4797518,1439255.0,85,1,0,0,...,Owner,0,Low Income,2747.4,2747.4,1439255.4,new comers,1362,2.01405e+07,23

<h1>step 4.1: grabing the next row in script file, and getting a refenrence of the excel file</h1>
<h2>Units ifnromation of the updated building:</h2>
<h1>step 2.2: duplicating the agent file</h1>
<h1>step 2.3: merging the building details with the agent details</h1>
<h1>step 4.2: Have a refernece of the active rows</h1>
<h1>step 4.3 set the simplest descion tree possible</h1>

## 1. if the agent is renting he will leave in all cases
## 2. if the agent is not renting, he will leave if he cannot pay monthly bills and maintances
<h1>step 4.5: getting refernece of avilable appartments and generating new agents (or grabing them from other sources)</h1>
<h1>step 5. Saving the excel to a file and appending it into a a new dataset</h2>

In [119]:
ssi.agent_i['ones'] = 1
pivot_status = ssi.agent_i.pivot(index='AgentID',columns='Agent_status',values='ones')

del pivot_status.index.name


agent_i_export = ssi.agent_i.copy()
agent_i_export[['laeving','new comers','staying']] = pivot_status
#remeber to remove this pivot before next iteration
#agent_i_export['iteration']=str(i)

## save the agents file to a new folder the project folder

In [124]:
ssi.simulation_folder.value

'cim_0326_1234'

In [128]:
simulation_path = ssi.sim_folder+ssi.simulation_name.value+"/"
if (ssi.i==0):
  os.mkdir(simulation_path)

save_iteration = 'agents_itr_'+str(ssi.i)+'.xlsx'
excel_path = simulation_path+save_iteration
agent_i_export.to_excel(excel_path)

if (ssi.i==0):
    #save a copy of Agents 0 for statistics
    ssi.agent_0.to_excel(simulation_path + 'agent_0.xlsx')

<h1>Step 6. calcualting otther sattistics and saving them to excel files</h1>

In [707]:
#itr_agents_excel_ds.loc[i,'Excel_File']=excel_path
#itr_agents_excel_ds.loc[i,'Bldg Project or Address']=bld_add_or_complex

In [133]:
gb = agent_i_export.groupby('AgentBldAdd')
agg1_p = gb.agg({'laeving':'count','new comers':'count','staying':'count'})
agg1_p = agg1_p.reset_index()
agg1_p.loc[i,'iteration']=i
# statistics needs to be added on who leaves
# the aggrgation needs to be made on the ssi level, this is incorrect

In [134]:
agg1_p

   AgentBldAdd  laeving  new comers  staying  iteration
0        102_3        0           0       25        0.0
1       208_12        0           0       24        NaN
2       209_29        0           0       11        NaN
3      209_33c        0           0        5        NaN
4        209_4        0           0       21        NaN
5        209_6        0           0        6        NaN
6        209_8        0           0       40        NaN
7       210_11        0           0       12        NaN
8       210_16        0           0       19        NaN
9       210_18        0           0       12        NaN
10      210_56        0           0       10        NaN
11       210_8        0           0       42        NaN
12      211_11        0           0       12        NaN
13       211_7        0           0        2        NaN
14       211_9        0           0        1        NaN
15      212_53        0           0       33        NaN
16     215_12a        0           0        7        NaN
17     215_12c        0           0       12        NaN
18      215_14        0           0        7        NaN
19      215_15        0           0       12        NaN
20      215_18        0           0       18        NaN
21      215_22        6          21       12        NaN
22      215_24        0           0       18        NaN
23       215_6        0           0       12        NaN
24      216_10        0           0       12        NaN
25       216_3        0           0       18        NaN
26       216_4        0           0       12        NaN
27       216_7        0           0       18        NaN
28       217_5        0           0       17        NaN
29       220_4        0           0       16        NaN
30       225_6        0           0       18        NaN
31      225_6a        0           0       18        NaN
32       225_8        0           0       36        NaN
33      ﻿215_2        0           0       24        NaN

In [709]:
#agg1 = agg1[agg1['AgentBldAdd'] == bld_add_or_complex] # need to fix to take care of complex projects

In [135]:
agg1_p['New Total Residence'] = agg1_p['new comers'] + agg1_p['staying']
agg1_p['Old Total Residence'] = agg1_p['laeving'] + agg1_p['staying']
agg1_p['Renewd'] = agg1_p['New Total Residence']>agg1_p['Old Total Residence'] 
agg1_p['Type of Project'] = ssi.typeProject #incorrect!!!! need to convert to list
agg1_p['Percent Left'] = agg1_p['laeving'] /agg1_p['Old Total Residence']
agg1_p['Percent New Comers'] = agg1_p['new comers'] /agg1_p['New Total Residence']
agg1 = agg1_p[agg1_p['Renewd']==True]
agg1.reset_index(inplace=True)

In [136]:
agg1

,index,AgentBldAdd,laeving,new comers,staying,iteration,New Total Residence,Old Total Residence,Renewd,Type of Project,Percent Left,Percent New Comers
0,21,215_22,6,21,12,NaN,33,18,True,תמ״א 38/1,0.333333,0.636364

In [137]:
temp = (agg1[['laeving','new comers','staying','New Total Residence','Old Total Residence']].sum())

In [138]:
temp

laeving                 6
new comers             21
staying                12
New Total Residence    33
Old Total Residence    18
dtype: int64

In [139]:
 newsum = pd.DataFrame(temp).transpose()

In [140]:
newsum['itr'] = i
newsum['Percent Left'] = newsum['laeving'] /newsum['Old Total Residence']
newsum['Percent New Comers'] = newsum['new comers'] /newsum['New Total Residence']

In [141]:
if (i==0):
    agg2 = newsum
else:
    agg2.loc[i] = newsum.loc[0]    #agg2.loc[i,['itr']]=i
    #agg2.loc[i,'itr'] =i
    #agg2.loc[i,'Percent Left']] = newsum['laeving'] /newsum['Old Total Residence']
    #newsum['Percent New Comers'] = newsum['new comers'] /newsum['New Total Residence']

In [717]:

# save_iteration = 'bldg_itr_'+str(i)+'.xlsx'

# excel_path = simulation_path+save_iteration
# agg1.to_excel(excel_path)
# itr_bldg_excel_ds.loc[i,'Excel_File']=excel_path
# itr_bldg_excel_ds.loc[i,'BldgOrProjectName']=bld_add_or_complex

# save_iteration = 'accumulated_'+save_iteration
# accumulated_excel_path=simulation_path+save_iteration
# agg2.to_excel(accumulated_excel_path)


# if (i>0):
#   print(i)
#   itr_bldg_excel_ds.loc[i,'Excel_File']=accumulated_excel_path
#   itr_bldg_excel_ds.loc[i,'BldgOrProjectName']=bld_add_or_complex
# else:
#   itr_accumulated_bldg_excel_ds = itr_bldg_excel_ds

17

## Need to Add Geographic Representation and saving
## Need to Add Plotly

In [129]:
itr_agent_path = simulation_path+'agents_iteration_excels.xlsx'
itr_bldg_path = simulation_path+'bldg_iteration_excels.xlsx'
#itr_geopacakge_path = simulation_path+'iteration_geopackage.xlsx'
accum_path = simulation_path+'itr_accumnulated_bldg.xlsx'
#itr_bldg_excel_ds.to_excel(itr_bldg_path)
#itr_agents_excel_ds.to_excel(itr_agent_path)
#itr_geokpackage_ds.to_excel(itr_geopacakge_path)
itr_accumulated_bldg_excel_ds.to_excel(accum_path)

NameError: name 'itr_accumulated_bldg_excel_ds' is not defined

<h1 >TODO 1. !!! Need to create a flat file with a description of all the projects for each building</h1>

In [99]:
def generateAgensts(thisDS):
    #this function recievs data from new building dataset and returns new renters or owners
    nUnits = len(thisDS['appUnits'])

    rand_income_rent = np.random.randint(0, high=5000, size=nUnits, dtype='l') #monthly income
    rand_inc_sr_rent =  pd.Series(rand_income_rent) #turning this into series

    rand_income_own = np.random.randint(3000, high=15000, size=nUnits, dtype='l') #monthly income
    rand_inc_sr_own =  pd.Series(rand_income_own) #into series
    
    rand_wealth = np.random.randint(0, high=5000000, size=nUnits, dtype='l') #wealth
    age = np.random.randint(25, high=110, size=nUnits, dtype='l') #wealth
    ownership = np.random.randint(0, high=2, size=nUnits, dtype='l') #0 rent 1 owns
    
    ds = pd.DataFrame()
    
    ds['OwnerShip'] = pd.Series(ownership)
    ds['AgentAppUnit'] = thisDS['appUnits'] #what unit does the agent live in
    ds['AgentBldAdd'] = thisDS['bldAdd'] # in what bld address does the Agent live in

 
    ds['AgentWealth'] = pd.Series(rand_wealth)
    
    ds['AgentPurchaseThreshold'] = (ds['AgentWealth'] * 0.3).astype(int) # 30% of wealth, Agent can buy a house without Mortgage
    ds['Age'] = pd.Series(age)
    
    ds['AgeGroup'] = ds['Age'].apply(lambda x: 0 if x < 65 else 1)
    ds['Native_Seniority'] = 0
    ds['Native_Group'] = ds['Native_Seniority'].apply(lambda x: 0 if x < 10 else 1) # 0 Native, 1 NewComer
    
    # for renters take the rent price
    ds.loc[ds['OwnerShip']==0,'AgentIncome'] = (thisDS[ds['OwnerShip']==0]['rentPerMonth'])/0.3 + rand_inc_sr_rent[ds['OwnerShip']==0]
    ds.loc[ds['OwnerShip']==1,'AgentIncome'] = (thisDS[ds['OwnerShip']==1]['newMaintenace&Tax'])/0.3 + rand_inc_sr_own[ds['OwnerShip']==1]
    ds['AgentIncome'] = ds['AgentIncome'].astype(int)
    ds['AgentRentThreshold'] = (ds['AgentIncome'] * 0.3).astype(int) # 30% of income
    
    #Age Formating
    ds['AgeGroupDesc'] = ds['Age'].apply(lambda x: 'Young' if x < 65 else 'Old')
    #Native Formating
    ds['NativeDesc'] = ds['Native_Group'].apply(lambda x: 'Native' if x == 1 else 'New Comers')
    #Ownership Formating
    ds['OwnershipDesc'] = ds['OwnerShip'].apply(lambda x: 'Owner' if x == 1 else 'Rent')
    
    LowInc = int(ssi.rules['Income']['Low']['0'])
    MediumInc = int(ssi.rules['Income']['Medium']['1'])
    HighInc = int(ssi.rules['Income']['High']['2'])
    
    ds['IncomeNum'] = ds['AgentIncome'].apply(lambda x: "0" if x < LowInc else "1" if x < MediumInc else "2")
    ds['IncomeDesc'] = ds['AgentIncome'].apply(lambda x: 'Low Income' if x < LowInc else 'Medium Income' if x < MediumInc else "High Income")
    ds = updateAgentsThresholdData(ds,'new comers')

    return ds

In [109]:
def updateAgentsThresholdData(ds,status):
    #This function recieves a Agent Dataset
    #The function returns the agents ability to live in a certain building as column data
    ds['TaxAndMainTreshold'] = ds['AgentIncome']*0.3
    ds['RentTreshold'] = ds['AgentIncome']*0.3
    ds['BuyTreshold'] = ds['AgentWealth']*0.3
    ds['Agent_status'] = status #staying, leaving,newComers buying always starts with staying
    return ds

# Useful Pivot Operations (Reference)

In [412]:
ssi.agent_ref.head(4)

,Unnamed: 0,AgentAppUnit,AgentBldAdd,AgentIncome,AgentWealth,AgentPurchaseThreshold,AgentRentThreshold,Age,OwnerShip,AgeGroup,Native_Seniority,Native_Group,AgentID,AgeGroupDesc,NativeDesc,OwnershipDesc,IncomeNum,IncomeDesc
0,0,0,215_22,13842,697698,209309.4,4152.8504,98,1,1,37,1,0,Old,Native,Owner,1,Medium Income
1,1,1,215_22,7319,431148,129344.4,2195.9504,53,1,0,45,1,1,Young,Native,Owner,0,Low Income
2,2,2,215_22,14488,2666059,799817.7,4346.6504,73,1,1,30,1,2,Old,Native,Owner,1,Medium Income
3,3,3,215_22,7655,4475813,1342743.9,2296.7504,108,1,1,39,1,3,Old,Native,Owner,0,Low Income

In [446]:
agg_by_bldg = ssi.agent_ref.pivot_table(index=['AgentBldAdd'],columns='IncomeDesc',values='AgentIncome',aggfunc='count')
agg_by_bldg.head()

IncomeDesc   High Income  Low Income  Medium Income
AgentBldAdd
209_6                3.0         NaN            3.0
210_16               NaN         4.0           15.0
210_18               3.0         1.0            8.0
211_11               9.0         1.0            2.0
211_7                1.0         NaN            1.0

In [447]:
agg_by_bldg.reset_index(inplace=True)

In [448]:
agg_by_bldg.columns

Index(['AgentBldAdd', 'High Income', 'Low Income', 'Medium Income'], dtype='object', name='IncomeDesc')

In [449]:
agg_by_bldg.columns.rename("row",inplace=True)

In [450]:
agg_by_bldg.head()

row AgentBldAdd  High Income  Low Income  Medium Income
0         209_6          3.0         NaN            3.0
1        210_16          NaN         4.0           15.0
2        210_18          3.0         1.0            8.0
3        211_11          9.0         1.0            2.0
4         211_7          1.0         NaN            1.0

In [451]:
agg_by_bldg.set_index('AgentBldAdd', inplace=True)

In [452]:
agg_by_bldg.head()

row          High Income  Low Income  Medium Income
AgentBldAdd
209_6                3.0         NaN            3.0
210_16               NaN         4.0           15.0
210_18               3.0         1.0            8.0
211_11               9.0         1.0            2.0
211_7                1.0         NaN            1.0

In [453]:
del agg_by_bldg.index.name

In [454]:
agg_by_bldg

row     High Income  Low Income  Medium Income
209_6           3.0         NaN            3.0
210_16          NaN         4.0           15.0
210_18          3.0         1.0            8.0
211_11          9.0         1.0            2.0
211_7           1.0         NaN            1.0
211_9           NaN         NaN            1.0
215_22          5.0         4.0            9.0
216_10          4.0         2.0            6.0
216_4           4.0         6.0            2.0

In [455]:
agg_by_bldg1 = ssi.agent_ref.pivot(index='AgentID',columns='IncomeDesc',values='AgentIncome')

In [458]:
agg_by_bldg1.head()

IncomeDesc  High Income  Low Income  Medium Income
AgentID
0                   NaN         NaN        13842.0
1                   NaN      7319.0            NaN
2                   NaN         NaN        14488.0
3                   NaN      7655.0            NaN
4                   NaN      5067.0            NaN

In [460]:
del agg_by_bldg1.index.name

AttributeError: name

In [462]:
agg_by_bldg1.head()

IncomeDesc  High Income  Low Income  Medium Income
0                   NaN         NaN        13842.0
1                   NaN      7319.0            NaN
2                   NaN         NaN        14488.0
3                   NaN      7655.0            NaN
4                   NaN      5067.0            NaN